<!DOCTYPE html>
<html>
<head>
    <title>JEE Smart Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> JEE Smart Timer</h1>
        <form action="/start" method="post">
            <button type="submit">Start Question</button>
        </form>
        <form action="/stop" method="post">
            <label>Result:</label>
            <select name="result">
                <option value="correct">Correct</option>
                <option value="wrong">Wrong</option>
            </select>
            <button type="submit">Stop Question</button>
        </form
        <br>
        <a href="/stats"> View Stats</a>
    </div>
</body>
</html>
